<div class="post">
    <%= form_with model: @photo_gram do |form|%>
        <% if form.object.errors.any? %>
            <div>
                <% form.object.errors.full_messages.each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </div>
            <div class="field" >
                <%= form.label :image %>
                <%= form.file_field :image %>
            </div>
        <% end %>
        <div class="field">
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>

        
        <div class="field">
            <%= form.label :image %>
            <%= form.file_field :image %>
        </div>

        <div class="field">
            <%= form.label :video %>
            <%= form.file_field :video %>
        </div>



        <div class="actions">
            <%= form.submit %>
        </div>

    <% end %>
</div>